@model IEnumerable<Dardani.EDU.Entities.Model.TipoEnsino>

@{
    ViewBag.Title = "Listagem de Tipos de Ensinos";
}

<p>
    @Html.ActionLink("Novo Tipo de Ensino", "Edit", "TiposEnsinos", null, new { @class="links_big"})&nbsp;
</p>

 @using (Ajax.BeginForm(    
     new AjaxOptions
     {
         HttpMethod = "get",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = "lista"
        }))
     {
         <p>
         Entre com o texto:
         <input type="search" name="SearchString" /> 
         <input type="submit" value="Filtrar" />
         </p> 
     } 

<div id="lista">
@Html.Partial("_Listagem", Model)
</div>


