@model IEnumerable<Dardani.EDU.Entities.Model.AnoLetivo>

@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20, ajaxUpdateContainerId: "gridArea", defaultSort:"Sequencia");
}

<div id="gridArea">
@grid.GetHtml(
    tableStyle:"table table-striped",
    //alternatingRowStyle: "altRow",
    columns:new[] {
        grid.Column("Id", style:"to-the-right", canSort:false),
        grid.Column("Ano",header:"Ano de Referência", canSort:false),
        grid.Column("",header:"Ações", format:@<text>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new {@class = "btn btn-xs btn-info"}) 
                @Html.ActionLink("Excluir", "Delete", new { @item.Id }, new {@class = "btn btn-xs btn-danger"})
                </text>)
    }
)
</div>
