@model IEnumerable<Dardani.EDU.Entities.Model.AnoLetivo>

@{
    ViewBag.Title = "Anos Letivos";
}

<p>
    @Html.ActionLink("Novo Ano Letivo", "Edit", "AnosLetivos", null, new { @class="btn btn-default"})&nbsp;
</p>
<div id="lista">
@Html.Partial("_Listagem", Model)
</div>


