@model IEnumerable<Dardani.EDU.Entities.VO.PessoaVO>

@{
    ViewBag.Title = "Listagem de Profissionais";
}

<div class="row">
    <div class="col-md-12">
    <a href="/Profissionais/Edit" class="btn btn-default">Novo Profissional</a>
    </div>
</div>
<div id="lista">
@Html.Partial("_Listagem", Model)
</div>
