@model IEnumerable<Dardani.EDU.Entities.Model.PeriodoAula>

@{
    ViewBag.Title = "Períodos";
}

<p>
    @Html.ActionLink("Novo Período", "Edit", "PeriodosAulas", null, new { @class="btn btn-default"})&nbsp;
</p>

<div id="lista">
@Html.Partial("_Listagem", Model)
</div>


