@model IEnumerable<Dardani.EDU.Entities.Model.DisciplinaEnsino>
@using Visao360.Educacao.Helpers

@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20, ajaxUpdateContainerId: "gridArea");
}

<div id="gridArea">
@grid.GetHtml(
    tableStyle:"grade",
    alternatingRowStyle: "altRow",
    columns:new[] {
        grid.Column("Id", style:"to-the-right"),
        grid.Column("Ensino.Descricao",header:"Ensino"),
        grid.Column("Disciplina.Descricao",header:"Disciplina"),
        grid.Column("",header:"Ações", format:@<text>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) 
                @Html.ActionLink("Excluir", "Delete", new { @item.Id })
                </text>)
    }
)
</div>

