@model IEnumerable<Dardani.EDU.Entities.VO.MatriculaVO>

@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20, ajaxUpdateContainerId: "gridArea");
}

<div id="gridArea">
@grid.GetHtml(
    tableStyle:"table table-striped",
    //alternatingRowStyle: "altRow",
    columns:new[] {
        grid.Column("Id", style:"to-the-right", canSort:false),
        grid.Column("PessoaNome",header:"Nome", canSort:false),
        //grid.Column("DataNascimento",header:"Nascimento", format: (item) => string.Format("{0:dd/MM/yyyy}", item.DataNascimento), style:"to-the-center"),
        grid.Column("PessoaNumeroNIS",header:"Numero NIS", canSort:false),
        grid.Column("FlagRematricular",header:"Rematricular?", canSort:false),
        grid.Column("",header:"Ações", format:@<text>
                @Html.ActionLink("Visualizar", "Edit", "Alunos", new { id = item.Id }, new {@class="btn btn-xs btn-warning"}) 
                </text>)
    }
)
</div>
