@model IEnumerable<Dardani.EDU.Entities.VO.MatriculaVO>

@{
    ViewBag.Title = "Alunos da Turma";
    Dardani.EDU.Entities.Model.Turma turma = (Dardani.EDU.Entities.Model.Turma)ViewBag.Turma;
}

<div class="alert alert-info">
    Turma: <strong>@turma.Nome</strong>
</div>
<div class="row">
    <div class="col-md-12 btn-group pt-20">
    <a href="/Turmas" class="btn btn-default">Voltar</a> 
    <a href="/Rematricula/Selecionar/@turma.Id" class="btn btn-default">Rematricular</a>
    <a href="/Alunos/Novo/@turma.Id" class="btn btn-default">Novo Aluno</a>
    </div>
</div>
<div id="lista">
@Html.Partial("_ListagemAlunos", Model)
</div>
