@model IEnumerable<Dardani.EDU.Entities.Model.Sala>

@{
    ViewBag.Title = "Salas da Escola";
}

<p>
    @Html.ActionLink("Nova Sala", "Edit", "Salas", null, new { @class="btn btn-default"})&nbsp;
</p>

<div id="lista">
@Html.Partial("_Listagem", Model)
</div>


