@model IEnumerable<Dardani.EDU.Entities.Model.Sala>

@{
    ViewBag.Title = "Salas da Escola";
}

<p>
    @Html.ActionLink("Nova Sala", "Edit", "Salas", null, new { @class="btn btn-default"})&nbsp;
</p>

<!--
 _using (Ajax.BeginForm(    
     new AjaxOptions
     {
         HttpMethod = "get",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = "lista"
        }))
     {
         <p>
         Entre com o texto:
         <input type="search" name="SearchString" /> 
         <input type="submit" value="Filtrar" />
         </p> 
     } 
-->
<div id="lista">
@Html.Partial("_Listagem", Model)
</div>


