@model IEnumerable<Dardani.EDU.Entities.Model.TipoSala>

@{
    ViewBag.Title = "Listagem de Tipos de Salas";
}

<p>
    @Html.ActionLink("Novo Tipo de Sala", "Edit", "TiposSalas", null, new { @class="btn btn-default" })&nbsp;
</p>

<div id="lista">
@Html.Partial("_Listagem", Model)
</div>


