@model IEnumerable<Dardani.EDU.Entities.VO.EtapaVO>

@{
    ViewBag.Title = "Selecionar Matriz";
}
<p>Alfa <a href="/Matriz/5/7">Editar</a>&nbsp;<a href="/MatrizDisciplina/1230">Disc</a></p>
<p>Beta <a href="/Matriz/2/4">Editar</a>&nbsp;<a href="/MatrizDisciplina/4425">Disc</a></p>
<p>Gamma <a href="/Matriz/4/2">Editar</a>&nbsp;<a href="/MatrizDisciplina/1279">Disc</a></p>
<p>Delta <a href="/Matriz/8/1">Editar</a>&nbsp;<a href="/MatrizDisciplina/3376">Disc</a></p>
