@{
    ViewBag.Title = "Página Inicial";
}

<div class="row">
    <div class="col-md-12 pt-20">
        @Html.ActionLink("Login", "Login", "Contas", null, new { @class="btn btn-warning"})
        @Html.ActionLink("Selecionar Escola de Trabalho", "Selecionar", "Home", null, new { @class="btn btn-success"})
    </div>
</div>
