@{
    ViewBag.Title = "Editar Matriz";
}

<p>Título da Etapa</p>
<p>Área de Edição da Matriz</p>

<p>Listagem de Disciplinas</p>
<p>Botão Incluir Disciplina</p>
<p>Para cada Disciplina, poder excluir ou Editar</p>
<p>Listagem de Períodos</p>
<p>Botão Incluir Período</p>
<p>Para cada Período, poder excluir ou Editar</p>

<p>Botão Voltar para Lista de Matrizes da Etapa</p>

