@{
    ViewBag.Title = "Matrizes da Etapa";
}

<p>Título da Etapa</p>
<p>Listagem de Matrizes</p>
<p>Botão Voltar para Etapas</p>
<p>Botão Incluir Matriz</p>
<p>Para cada Matriz, poder excluir ou ver Disciplinas ou ainda Períodos</p>
