@model IEnumerable<Dardani.CMT.Entities.Model.Usuario>

@{
    ViewBag.Title = "Listagem de Usuários";
}

<p>
    @Html.ActionLink("Novo Usuário", "Edit", "Usuarios", null, new { @class="links_big"})&nbsp;
</p>

 @using (Ajax.BeginForm(    
     new AjaxOptions
     {
         HttpMethod = "get",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = "lista",
         
        }))
     {
         <p>
         Entre com um trecho do nome:
         <input type="search" name="SearchString" id="SearchString" /> 
         <input type="submit" value="Filtrar" />
         </p> 
     } 

<div id="lista">
@{
    //if (Model.Count() > 0) {
        @Html.Partial("_Usuarios", Model)
    //}
}
</div>
<script>
    $(function () {
        $("#SearchString").focus();
    });
</script>


