@model IEnumerable<Dardani.EDU.Entities.Model.Usuario>

@{
    ViewBag.Title = "Usuários";
}

<div class="row">
    <div class="col-md-12">
    @Html.ActionLink("Novo Usuário", "Edit", "Usuarios", null, new { @class = "btn btn-default" }) 
    </div>
</div>
<div id="lista">
@Html.Partial("_Listagem", Model)
</div>

