@model IEnumerable<Dardani.EDU.Entities.VO.DisciplinaVO>
@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 20, ajaxUpdateContainerId: "gridArea", defaultSort:"Descricao");
}

<div id="gridArea">
@grid.GetHtml(
    tableStyle:"table table-striped",
    /*alternatingRowStyle: "altRow",*/
    columns:new[] {
        grid.Column("Id", style:"to-the-right", canSort:false),
        grid.Column("Descricao",header:"Descrição", canSort:false),
        grid.Column("DescricaoAbreviada",header:"Abreviatura", canSort:false),
        grid.Column("FlagAtivo",header:"Ativa?", canSort:false),
        grid.Column("",header:"Ações", format:@<text>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new{@class="btn btn-xs btn-info"}) 
        </text>)
    }
)
</div>
